$dark-nav-color: #444;

//Custom colors
$naranjo: #ccc;
$amarillo: #ed9d00;
$verde: #36b999;
$azul: #223b7e;

$amarillo-palido: #fff8eb;
$amarillo-palido-activo: #f8e6bb;
$links: #1779ba;
$negro: #363636;
