    .widget-eventos-portada {
        //display:flex;
        .item-evento-front {
            margin:0 0 12px 0;
            padding:0;
        }
    }


.item-evento-front {
    border:1px solid #1779BA;
    a {
        padding:12px;
    }
    .event-data {
        p {
            margin-bottom:0;
        }
    }
}