.metadata-box {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #ccc;
    p {
        margin-bottom: 0;
    }
}

.agenda-metadata {
    border: 0;
    i {
        color: $dark-nav-color;
    }
}

article.type-cms_agenda .agenda-metadata {
    border: 1px solid #f2f2f2;
    padding: 12px;
}
