body#tinymce {
	height: auto; // Fix editor style bug
	max-width: $grid-row-width; // Give the editor a max-width
	background-color: red;
	padding: rem-calc(20) !important;
	a:link,
	a:hover,
	a:visited {
		color: $links !important;
	}
}
