// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}


// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title a {
  font-weight: bold;
}



// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}


.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}



// Tablet and desktop menu
.desktop-menu {

  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}



// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

//Menú Interno
.menu-interno {
  background-color: white;
  border-top:4px solid #ccc;
  ul.desktop-menu {
    max-width:75rem;
    margin-left:auto;
    margin-right:auto;
  }
  a {
    color:#555;
    text-transform:uppercase;
    font-size:15px;
      &:hover {
        background-color: #f0f0f0;
        color:#333; 
      }
    }
  ul.dropdown.menu {
    .is-active > a {
      color:#333;
      background-color: #f0f0f0; 
    }
  }
}

//Enlaces Rápidos
.enlaces-rapidos {
  background-color:$amarillo;
  div.wrapper {
    max-width:75rem;
    margin-left:auto;
    margin-right:auto;
  }
  .linklabel {
    float:left;
    //background-color:$verde;
    color:white;
    display: block;
    padding:8px 6px 9px 6px;
    margin-left:0.9375rem;
    text-transform:uppercase;
    font-size:14px;
    @include show-for(medium);
  }

  a {
    color:white;
      &:hover {
          background-color:darken($amarillo, 20%);
      }
  }
}

@include breakpoint(medium) {
  .top-bar-left {
    background-color:transparent;
  }

  .top-bar {
    background-color:$dark-nav-color;
    position: relative;
  }

  .top-bar-right {
    background-color:transparent;
    position: absolute;
    top:0;
    right:0;
    > ul > li > a {
      padding:0.7rem;
    }
    a {
      font-size:15px;
    }
    > ul {
      > li > a {
        //font-weight:bold;
        font-size:15px;
        text-transform:none;
      }
    }
    ul {
      //background-color:#223B7E;
      li ul {
        background-color:darken($azul, 10%);
        border:0;
      }
    }
      a {
        color:rgba(255,255,255,0.9);
        &:hover {
          color:white;
          background-color:$dropdown-menu-item-background-active;
        }
      }
  }
}

.site-title-bar.title-bar {
  background:white;
  border-bottom:1px solid #223B7E;
  position: relative;
  .title-bar-title {
    //margin-left:40px;
  }
  .nav-menu-icon {
    height:85px;
    position: absolute;
    top:0;
    right:0;
    background-color:$amarillo;
    padding:24px 12px;
    font-size:24px;
    color:white;
  }
}


header.site-header {
  position: relative;
  background:linear-gradient(to right,white 30%, $dark-nav-color 30%);
  i {
    font-size:18px;
    vertical-align:middle;
  }
  .site-info {
    position:absolute;
    right:12px;
    top:105px;
    color:white;
    z-index:1;
    color:lighten(#223680, 50%);
    p {
      font-size:14px;
      vertical-align:middle;
      line-height:18px;
    }
    
    a {
      color:lighten(#223680, 50%);
    }
    @include show-for(large);
  }

  .top-search {
    position: absolute;
    top:55px;
    right:12px;
    z-index:1;
    width:250px;
    
    .input-group-field {
      height:1.8rem;
      background-color:desaturate(lighten(#1779BA, 40%), 20%);
      color:#223B7E;
      &::placeholder {
        color:#333;
      }
    }

    input {
      border:0;
    }

    button.button {
      border-radius:0 5px 5px 0;
      height:1.8rem;
      font-size:14px;
      color:white;
    }

    @include show-for(large);
  }
}

nav.mobile-menu {
  .mobile-menu-wrap {
    display:flex;
  }
  .mobile-search {
    clear:both;
    padding:6px;
    .input-group {
      margin-bottom:0;
    }
    input {
      max-width:none;
      border:0;
    }
  }
}

ul.mobile-nav-left,
ul.mobile-nav-right {
  width:50%;
  float:left;
  .menu.nested {
    margin-left:0;
  }
}

ul.mobile-nav-right {
  //background-color:#223680;
  color:white;
  a {
    color:white;
    border-bottom:1px solid darken(#223680, 10%);
  }
  .menu.nested {
    background-color:darken(#223680, 6%);
    .menu.nested {
      background-color:darken(#223680, 8%)
    }
  }
}

.top-bar {
      max-width: 75rem;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
}

.top-bar .top-bar-right ul.mobile-nav-left {
  background-color:$amarillo;
  a {
    color:white;
    border-bottom:1px solid darken($amarillo, 10%);
  }
  ul {
    background-color:darken($amarillo, 10%);
  }
}

.top-bar-right .menu-item-home a {
  font-family: 'FontAwesome';
  padding:12px 5px;
  // &:before {
  //   content: '\f015';
  //   font-family: 'FontAwesome';
  //   font-size:18px;
  //   margin-right:3px;
  // }
}

.menu-interno .desktop-menu,
.top-bar .top-bar-right ul.mobile-nav-left {
  .is-dropdown-submenu,
  .is-accordion-submenu {
    background-color:white;
    border:0;
  } 
  li.is-dropdown-submenu-parent > a:after,
  li.is-accordion-submenu-parent > a:after {
    border-color:white;
  }
}

.menu-interno .active > a {
  background-color:white;
}

.top-bar-title {
  img {
    background-color:white;
    padding:1rem 2rem 1rem 0;
    max-width:190px;
    height:auto;
  }
}
