// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.mobile-menu,
.mobile-off-canvas-menu {
  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: white transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}

// Tablet and desktop menu
.desktop-menu {
  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: white transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

//Menú Interno
.menu-interno {
  background-color: lighten(#b8d5ff, 5%);
  ul.desktop-menu {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    color: #45588a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    &:hover {
      background-color: #b8d5ff;
      // color:#F09C29;
    }
  }

  ul.dropdown.menu {
    .is-active > a {
      // color:#333;
      background-color: #b8d5ff;
    }
  }
}

.menu-interno .desktop-menu,
.top-bar .top-bar-right ul.mobile-nav-left {
  .is-dropdown-submenu,
  .is-accordion-submenu {
    border: 0;
  }
  li.is-dropdown-submenu-parent > a:after,
  li.is-accordion-submenu-parent > a:after,
  li.opens-right > a:after,
  li.opens-left > a:after {
    border-color: #45588a transparent transparent;
  }
}

.menu-interno .desktop-menu {
  .dropdown {
    border-top: 1px solid #ccc;
    background-color: #b8d5ff;
    a:hover {
      background-color: #b8d5ff;
    }
  }
}

.menu-interno .active > a {
  background-color: white;
}

//Enlaces Rápidos
.enlaces-rapidos {
  background-color: $amarillo;
  i {
    color: white;
  }

  div.wrapper {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }
  .linklabel {
    float: left;
    //background-color:$verde;
    color: white;
    display: block;
    padding: 8px 6px 9px 6px;
    margin-left: 0.9375rem;
    text-transform: uppercase;
    font-size: 14px;
    @include show-for(medium);
  }

  a {
    color: white;
    &:hover {
      background-color: lighten($amarillo, 1%);
    }
  }
}

@include breakpoint(medium) {
  .top-bar-left {
    background-color: transparent;
  }

  .top-bar {
    background-color: transparent;
    position: relative;
  }

  .top-bar-right {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    > ul > li > a {
      padding: 0.7rem;
    }
    a {
      font-size: 15px;
      color: #b8d5ff;
    }
    > ul {
      > li > a {
        //font-weight:bold;
        font-size: 15px;
        text-transform: none;
        color: #b8d5ff;
      }
    }
    ul.is-dropdown-submenu {
      border: 0;
    }

    ul {
      //background-color:#223B7E;
      li ul {
        background-color: darken($azul, 10%);
        border: 0;
      }
    }
    a {
      color: #b8d5ff;
      &:hover {
        color: #b8d5ff;
        background-color: darken($azul, 5%);
      }
    }
  }
}

.site-title-bar.title-bar {
  background: transparent;
  border-bottom: $dark-nav-color;
  position: relative;
  .title-bar-title {
    @media only screen and (max-width: 40em) {
      img {
        padding: 11px 0;
      }
    }
  }
  .nav-menu-icon {
    height: 82px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: darken($azul, 10%);
    padding: 18px 12px;
    color: white;
    i {
      font-size: 32px;
    }
  }
}

header.site-header {
  position: relative;
  background-color: $azul;
  color: white;
  //background:linear-gradient(to right,white 30%, $dark-nav-color 30%);
  i {
    font-size: 18px;
    vertical-align: middle;
  }
  .site-info {
    position: absolute;
    right: 12px;
    top: 95px;
    color: #e0e0e0;
    z-index: 1;
    p {
      font-size: 14px;
      vertical-align: middle;
      line-height: 18px;
    }

    a {
      color: white;
    }
    @include show-for(large);
  }

  .top-search {
    position: absolute;
    top: 55px;
    right: 12px;
    z-index: 1;
    width: 250px;

    .input-group-field {
      height: 1.8rem;
      background-color: #d2e4ff;
      border: 0;
      color: #223b7e;
      &::placeholder {
        color: #333;
      }
    }

    input {
      border: 0;
    }

    button.button {
      border-radius: 0 5px 5px 0;
      height: 1.8rem;
      font-size: 14px;
      color: white;
      background-color: #ccc;
      &:hover {
        background-color: $azul;
      }
    }

    @include show-for(large);
  }
}

nav.mobile-menu {
  .mobile-menu-wrap {
    display: flex;
  }
  .mobile-search {
    clear: both;
    padding: 6px;
    .input-group {
      margin-bottom: 0;
    }
    input {
      max-width: none;
      border: 0;
    }
  }
}

ul.mobile-nav-left,
ul.mobile-nav-right {
  width: 50%;
  float: left;
  .menu.nested {
    margin-left: 0;
  }
}

ul.mobile-nav-right {
  //background-color:#223680;
  color: $dark-nav-color;
  a {
    color: $dark-nav-color;
    border-bottom: 1px solid darken(#223680, 10%);
  }
  .menu.nested {
    background-color: darken(#223680, 6%);
    .menu.nested {
      background-color: darken(#223680, 8%);
    }
  }
}

.top-bar {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.top-bar .top-bar-right ul.mobile-nav-left {
  background-color: $amarillo;
  a {
    color: white;
    border-bottom: 1px solid darken($amarillo, 10%);
  }
  ul {
    background-color: darken($amarillo, 10%);
  }
}

.top-bar-right .menu-item-home a {
  font-family: "FontAwesome";
  padding: 12px 5px;
  // &:before {
  //   content: '\f015';
  //   font-family: 'FontAwesome';
  //   font-size:18px;
  //   margin-right:3px;
  // }
}

.top-bar-title {
  img {
    padding: 0.5rem 1rem 1rem 0;
    height: auto;
  }
  .menu-interno .desktop-menu,
  .top-bar .top-bar-right ul.mobile-nav-left {
    .is-dropdown-submenu,
    .is-accordion-submenu {
      background-color: white;
      border: 0;
    }
    li.is-dropdown-submenu-parent > a:after,
    li.is-accordion-submenu-parent > a:after,
    li.opens-right > a:after,
    li.opens-left > a:after {
      border-color: #333 transparent transparent;
    }
  }
}

.menu-interno .desktop-menu {
  .dropdown {
    border-top: 1px solid #ccc;
    background-color: #f0f0f0;
    a:hover {
      background-color: #ccc;
    }
  }
}

.top-bar-right .mobile-menu ul {
  background-color: darken($azul, 3%);
  li {
    border-bottom: 1px solid darken($azul, 15%);
    ul.submenu {
      background-color: darken($azul, 5%);
      margin: 0;
      padding-left: 1rem;
      li {
        border-bottom: 0;
      }
    }
  }
}

.top-bar-right a {
  color: #b8d5ff;
}

.top-bar-right {
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: white transparent transparent;
  }
  .dropwdown-menu > li {
    background-color: darken($azul, 10%);
  }

  ul.dropdown.menu {
    .is-active > a {
      color: #b8d5ff;
      background-color: darken($azul, 10%);
    }
  }
}
